<html>
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://kit.fontawesome.com/963d382458.js" crossorigin="anonymous"></script>
    {% endblock %}
</head>
<body>
    <header>
        <h3 onclick="window.location='{{ url_for('index') }}'"><i class="fab fa-git-alt" id="logo"></i> Gitex</h3>
        <div class="spacer-h"></div>
        <div id="search">
            <input type="text" placeholder="Search repos" />
            <i class="fas fa-search"></i>    
        </div>
        <a href="{{ url_for('settings') }}">Settings</a>
    </header>
    {% block nav %}
    {% endblock %}
    {% block main %}
    {% endblock %}
</body>
</html>