{% extends 'layout.html' %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='codemirror.css') }}">
<script src="{{ url_for('static', filename='codemirror.js') }}"></script>
<script>
    var editor = CodeMirror.fromTextArea(document.getElementById('editor'), {
      lineNumbers: true
    });
  </script>
{% endblock %}

{% block nav %}
<aside>
    <nav></nav>
</aside>
{% endblock %}

{% block repo %}
<content>
<p class="small-title">{{ repo['name'] }}</p>
</content>
{% endblock %}